body {
    margin: 0;
    overflow: hidden;
    background: #0c1117;
    cursor: none;
}

/* Scoreboard */
#scoreboard {
    color: white;
    font-size: 22px;
    padding: 10px;
    position: absolute;
    z-index: 5;
    left: 20px;
    top: 10px;
    font-family: Arial;
}

/* Crosshair */
.crosshair {
    position: absolute;
    width: 22px;
    height: 22px;
    border: 2px solid white;
    border-radius: 50%;
    pointer-events: none;
}
